:root {
    --ice-cold: #a0d2eb;
    --freeze-purple: #e5eaf5;
    --medium-purple: #d0bdf4;
    --purple-pain: #8458B3;
    --heavy-purple: #a28089;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--ice-cold);
    font-family: Helvetica, Arial, sans-serif;
}

/* Header Section Start */
header {
    border: 3px solid black;
    padding: 5px;
    background-color: var( --purple-pain);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    z-index: 9999;
}
header h1 {
    font-weight: bold;
    font-size: 45px;
    color: black;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header nav ul {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* Header Section End */

.flex-row {
    text-align: center;
    display: flex;
    margin: 0 auto 35px auto;
    width: 25%;
    font-size: 46px;
    justify-content: center;
    border-bottom: 3px solid;
    border-color: var( --heavy-purple);
}
.section-text {
    margin: 0 5px 0 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

/* About Me Section Start */
.about-me {
    margin: 40px 0 40px 0;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;   
}
.about-img {
    justify-content: center;
    display: flex;
    margin: 30px auto;
    width: 30%;
}

/* About Me Section End */

/* Projects Section Start */
.project-section {
    position: relative;
}
.project-section p {
    margin: 40px 5px 40px 5px;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.main-project {
    position: relative;
    border: 2px solid black;
    width: 700px;
    height: 700px;
    margin: 0 auto 30px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 1;
    overflow: hidden;
}
.main-project img {
    justify-content: center;
    display: flex;
    width: 100%;
}
.project-text {
    display: inline-block;
    position: absolute;
    bottom: 100px;
    left: 0px;
    width: 100px;
    height: 85px;
    background-color: var( --ice-cold);
    font-size: 17px;
    font-weight: bold;
}
.secondary-projects {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1;
    overflow: hidden;
}
.project {
    border: 3px solid black;
    width: 500px;
    height: 500px;
    margin: auto;
    background: var(--heavy-purple);
    display: flex;
    flex: wrap;
    justify-content: space-between;
    flex-direction: row;
    float: left;
    overflow: hidden;
}
.secondary-project img {
    justify-content: center;
    display: flex;
    width: 100%;
}
/* Project Section End */

/* Contact Section Start */
.contact-me{
    display: block;
    text-align: center;
    margin: 30px auto;
    font-size: 25px;
    font-weight: bold;
}

/* Contact Section End */

/* Footer Start */
footer {
    border: 3px solid black;
    padding: 5px;
    background-color: var( --purple-pain);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
}
Footer h2 {
    font-weight: bold;
    font-size: 45px;
    color: black;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
footer nav ul {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
footer nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* Footer End */

/* Media Queries For Smaller Desktop Screens And Smaller */

@media screen and (max-width: 980px) {
    * {
        justify-content: center;
    }
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    header nav ul li a {
        font-size: 20px;
    }
    footer h2, footer div {
        text-align: center;
        width: 100%;
    }
}


/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    * {
        justify-content: center;
    }
    .section-text {
        width: 100%;
        text-align: center;
    }
}


/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    * {
        justify-content: center;
    }
    
    .main-project {
        width: 100%;
    }
    .about-me img {
        margin: auto;
        max-width: 375px;
    }
    .footer-nav nav ul {
        margin-top: 20px;
        width: 100%;
    }
    .footer p {
        font-size: 20px;
    }
}